@morado: #9C27B0;
@morado-oscuro: #673AB7;
@indigo: #3F51B5;
@azul: #2196F3;
@celeste: #03A9F4;
@cyan: #00BCD4;
@turquesa: #009688;
@verde: #4CAF50;
@verde-claro: #8BC34A;
@lima: #CDDC39;
@amarillo: #FFEB3B;
@ambar: #FFC107;
@naranja: #FF9800;
@naranja-oscuro: #FF5722;
@rojo: #F44336;
@rosado: #E91E63;

//Colores brillantes
@morado-brillo: #AA00FF;
@morado-oscuro-brillo: #6200EA;
@indigo-brillo: #304FFE;
@azul-brillo: #2962FF;
@celeste-brillo: #0091EA;
@cyan-brillo: #00B8D4;
@turquesa-brillo: #00BFA5;
@verde-brillo: #00C853;
@verde-claro-brillo: #64DD17;
@lima-brillo: #AEEA00;
@amarillo-brillo: #FFD600;
@ambar-brillo: #FFAB00;
@naranja-brillo: #FF6D00;
@naranja-oscuro-brillo: #FF3D00;
@rojo-brillo: #FF1744;
@rosado-brillo: #F50057;

//Colores pastel
@morado-pastel: #CE93D8;
@morado-oscuro-pastel: #B39DDB;
@indigo-pastel: #9FA8DA;
@azul-pastel: #90CAF9;
@celeste-pastel: #81D4FA;
@cyan-pastel: #80DEEA;
@turquesa-pastel: #80CBC4;
@verde-pastel: #A5D6A7;
@verde-claro-pastel: #C5E1A5;
@lima-pastel: #E6EE9C;
@amarillo-pastel: #FFF59D;
@ambar-pastel: #FFE082;
@naranja-pastel: #FFCC80;
@naranja-oscuro-pastel: #FFAB91;
@rojo-pastel: #EF9A9A;
@rosado-pastel: #F48FB1;

//Colores oscuros
@morado-opaco: #4A148C;
@morado-oscuro-opaco: #311B92;
@indigo-opaco: #1A237E;
@azul-opaco: #0D47A1;
@celeste-opaco: #01579B;
@cyan-opaco: #006064;
@turquesa-opaco: #004D40;
@verde-opaco: #1B5E20;
@verde-claro-opaco: #33691E;
@lima-opaco: #827717;
@amarillo-opaco: #F57F17;
@ambar-opaco: #FF6F00;
@naranja-opaco: #E65100;
@naranja-oscuro-opaco: #BF360C;
@rojo-opaco: #B71C1C;
@rosado-opaco: #880E4F;

@gradiente: linear-gradient(to right,
  @morado, @morado 6.66%,
  @morado-oscuro 6.66%, @morado-oscuro 13.33%,
  @indigo 13.33%, @indigo 19.99%,
  @azul 19.99%, @azul 26.65%,
  @celeste 26.65%, @celeste 33.33%,
  @cyan 33.33%, @cyan 39.99%,
  @turquesa 39.99%, @turquesa 46.65%,
  @verde 46.65%, @verde 53.33%,
  @verde-claro 53.33%, @verde-claro 59.99%,
  @lima 59.99%, @lima 66.65%,
  @amarillo 66.65%, @amarillo 73.33%,
  @ambar 73.33%, @ambar 79.99%,
  @naranja 79.99%, @naranja 86.66%,
  @naranja-oscuro 86.66%, @naranja-oscuro 93.33%,
  @rojo 93.33%, @rojo 100%
);

@gradiente-brillo: linear-gradient(to right,
  @morado-brillo, @morado-brillo 6.66%,
  @morado-oscuro-brillo 6.66%, @morado-oscuro-brillo 13.33%,
  @indigo-brillo 13.33%, @indigo-brillo 19.99%,
  @azul-brillo 19.99%, @azul-brillo 26.65%,
  @celeste-brillo 26.65%, @celeste-brillo 33.33%,
  @cyan-brillo 33.33%, @cyan-brillo 39.99%,
  @turquesa-brillo 39.99%, @turquesa-brillo 46.65%,
  @verde-brillo 46.65%, @verde-brillo 53.33%,
  @verde-claro-brillo 53.33%, @verde-claro-brillo 59.99%,
  @lima-brillo 59.99%, @lima-brillo 66.65%,
  @amarillo-brillo 66.65%, @amarillo-brillo 73.33%,
  @ambar-brillo 73.33%, @ambar-brillo 79.99%,
  @naranja-brillo 79.99%, @naranja-brillo 86.66%,
  @naranja-oscuro-brillo 86.66%, @naranja-oscuro-brillo 93.33%,
  @rojo-brillo 93.33%, @rojo-brillo 100%
);

@gradiente-pastel: linear-gradient(to right,
  @morado-pastel, @morado-pastel 6.66%,
  @morado-oscuro-pastel 6.66%, @morado-oscuro-pastel 13.33%,
  @indigo-pastel 13.33%, @indigo-pastel 19.99%,
  @azul-pastel 19.99%, @azul-pastel 26.65%,
  @celeste-pastel 26.65%, @celeste-pastel 33.33%,
  @cyan-pastel 33.33%, @cyan-pastel 39.99%,
  @turquesa-pastel 39.99%, @turquesa-pastel 46.65%,
  @verde-pastel 46.65%, @verde-pastel 53.33%,
  @verde-claro-pastel 53.33%, @verde-claro-pastel 59.99%,
  @lima-pastel 59.99%, @lima-pastel 66.65%,
  @amarillo-pastel 66.65%, @amarillo-pastel 73.33%,
  @ambar-pastel 73.33%, @ambar-pastel 79.99%,
  @naranja-pastel 79.99%, @naranja-pastel 86.66%,
  @naranja-oscuro-pastel 86.66%, @naranja-oscuro-pastel 93.33%,
  @rojo-pastel 93.33%, @rojo-pastel 100%
);

@gradiente-opaco: linear-gradient(to right,
  @morado-opaco, @morado-opaco 6.66%,
  @morado-oscuro-opaco 6.66%, @morado-oscuro-opaco 13.33%,
  @indigo-opaco 13.33%, @indigo-opaco 19.99%,
  @azul-opaco 19.99%, @azul-opaco 26.65%,
  @celeste-opaco 26.65%, @celeste-opaco 33.33%,
  @cyan-opaco 33.33%, @cyan-opaco 39.99%,
  @turquesa-opaco 39.99%, @turquesa-opaco 46.65%,
  @verde-opaco 46.65%, @verde-opaco 53.33%,
  @verde-claro-opaco 53.33%, @verde-claro-opaco 59.99%,
  @lima-opaco 59.99%, @lima-opaco 66.65%,
  @amarillo-opaco 66.65%, @amarillo-opaco 73.33%,
  @ambar-opaco 73.33%, @ambar-opaco 79.99%,
  @naranja-opaco 79.99%, @naranja-opaco 86.66%,
  @naranja-oscuro-opaco 86.66%, @naranja-oscuro-opaco 93.33%,
  @rojo-opaco 93.33%, @rojo-opaco 100%
);
