.bordes(@grad){
  border-image: @grad 1 stretch;
}

.colorgraph-base(){
  border: 2px solid #ddd;
  border-width: 2px;
  border-style: solid;
}

.colorgraph {
  .colorgraph-base();
  .bordes(@gradiente);
}

.colorgraph-brillo {
  .colorgraph-base();
  .bordes(@gradiente-brillo);
}

.colorgraph-pastel {
  .colorgraph-base();
  .bordes(@gradiente-pastel);
}

.colorgraph-opaco {
  .colorgraph-base();
  .bordes(@gradiente-opaco);
}

hr.colorgraph {
  margin: 5px 0 15px 0px;
  .colorgraph;
}

hr.colorgraph-brillo {
  margin: 5px 0 15px 0px;
  .colorgraph-brillo;
}

hr.colorgraph-pastel {
  margin: 5px 0 15px 0px;
  .colorgraph-pastel;
}

hr.colorgraph-opaco {
  margin: 5px 0 15px 0px;
  .colorgraph-opaco;
}

.divColorgraph(@grad){
  background: #fff;
  height: 6px;
  background-image: @grad;
  background-size: 100% 6px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

div.colorgraph{
  .divColorgraph(@gradiente);
}

div.colorgraph-brillo{
  .divColorgraph(@gradiente-brillo);
}

div.colorgraph-opaco{
  .divColorgraph(@gradiente-opaco);
}

div.colorgraph-pastel{
  .divColorgraph(@gradiente-pastel);
}
