.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.cuadro-usuario {
  min-height: 200px;
}
.barra-colorgraph {
  margin: 0;
  border-width: 3px;
  width: 100%;
  height: 6px;
  top: 0;
  left: 0;
}
.deshabilitado, .deshabilitado *{
  pointer-events: none;
  opacity: 0.4;
}
.cursor-pointer {
  cursor: pointer;
}
.table-borderless {
  th,
  td {
    border-top: 0 !important;
  }
}
.navbar {
  margin-bottom: 0;
  .navbar-nav li {
    .cursor-pointer;
  }
}
.modulo {
  margin: 0;
  .panel-body {
    border-left: none;
  }
  * {
    margin: 0;
    text-align: left;
    color: #444;
    font-size: 1.2em;
  }
}
.texto-blanco {
  color: #fff !important;
}
.panel-heading {
  position: relative;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-size: 1.4em;
    margin: 0;
  }
}
.opciones-tabla {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}
.opciones-tabla > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.opciones-tabla i {
  cursor: pointer;
  font-size: 115%;
}
.opciones-panel {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
}
.opciones-panel--top {
  border-bottom: 1px solid @border-color;
  margin-top: -15px;
}
.opciones-panel--bottom {
  border-top: 1px solid @border-color;
  margin-bottom: -15px;
  margin-top: 25px;
}
textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
  box-shadow: inset 0 -1px 0 @gray-light;
}
.breadcrumb {
  background: transparent;
  margin: 0;
  text-align: right;
}
.dropdown-menu li {
  .cursor-pointer;
}

.input-group {
  .input-group-addon {
    border-right: 0;
    border-radius: 0;
    border: none;
    box-shadow: inset 0 -1px 0 @gray-light;
    background: @body-bg;
  }
  .form-control:focus ~ .input-group-addon{
    box-shadow: inset 0 -2px 0 @brand-primary;
    color: @brand-primary;
    background: lighten(@brand-primary, 60%);
  }
  input.form-control{
    padding-right: 15px;
  }
}

.has-error .input-group{
  .input-group-addon {
    border-right: 0;
    border-radius: 0;
    box-shadow: inset 0 -2px 0 @brand-danger !important;
    color: @brand-danger !important;
    background: lighten(@brand-danger, 40%) !important;
  }
}
