/* Layout */
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden!important;
}
body {
  background-color: #fff;
  font-size: 13px;
  margin: 0;
  padding: 0;
  height: 100%;
}
@border-color: #ddd;
@menu-width: 180px;
#header {
  background-color: #fff;
  display: block;
  height: 62px;
  margin: 0;
  padding: 0;
  position: relative;
  border-bottom: 1px solid @border-color;
  nav {
    float: left;
    p {
      float: left;
      height: 56px;
      line-height: 56px;
      font-size: 0.8em;
      @media (min-width: 768px) {
        font-size: 1.3em;
      }
    }
  }
  #logo {
    transition: all 1s ease;
    float: left;
    width: @menu-width;
    padding: 10px;
    height: 56px;
    img {
      max-height: 100%;
    }
  }
  .header-link {
    padding: 17px 14px 13px 15px;
    font-size: 14px;
    float: left;
    border-right: 1px solid @border-color;
    border-left: 1px solid @border-color;
    margin-right: 15px;
    background: @body-bg;
    color: @gray-light;
    cursor: pointer;
  }
  .header-link:hover {
    background: darken(@body-bg, 5%);
  }
  .navbar-nav > li,
  .navbar-nav > li > a {
    height: 56px;
  }
  .navbar-nav > li > a {
    padding: 15px 20px;
    font-size: 25px;
  }
  .navbar-nav > li:last-child > a {
    padding-right: 35px;
  }
  .navbar.navbar-static-top .hide-menu {
    color: @gray;
  }
}
#menu {
  width: @menu-width;
  bottom: 0;
  float: left;
  left: 0;
  position: absolute;
  top: 62px;
  .profile-picture {
    padding: 20px;
    text-align: center;
  }
  #side-menu {
    background: #fff;
  }
  #side-menu li a {
    color: @text-color;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 20px;
  }
  #side-menu li {
    border-bottom: 1px solid @border-color;
  }
  #side-menu li:first-child {
    border-top: 1px solid @border-color;
  }
  #side-menu li.active a{
    cursor:default;
  }
  #side-menu li.active a,
  #side-menu li:hover a {
    color: @morado;
  }
  #side-menu li .nav-second-level li a {
    padding: 10px 10px 10px 30px;
    color: @text-color;
    text-transform: none;
    font-weight: 600;
  }
  #side-menu li .nav-second-level li.active a {
    color: @brand-primary;
    background-color: #fff;
  }
  #side-menu.nav > li > a:hover,
  #side-menu.nav > li > a:focus {
    background: #fff;
  }
  #side-menu li.active {
    background: #fff;
  }
}



#wrapper {
  transition: all 1s ease;
  margin: 0 0 0 @menu-width;
  padding: 0;
  background: @body-bg;
  border-left: 1px solid @border-color;
  position: relative;
  min-height: 100%;
  .contenido {
    padding: 25px 40px 40px;
    min-width: 320px;
  }
  @media(max-width: 768px) {
    .contenido {
      padding: 15px;
      min-width: 320px;
    }
  }
}
.ocultarLogo{
  transition: all 1s ease;
  margin: 0 0 0 -@menu-width;
}
.minimizado{
  margin: 0 0 0 0px !important;
}

.oscurecer{
  width: 100%;
height: 100%;
background: rgba(0,0,0,0.3);
z-index: 2000;
position: absolute;
top: 0;
left: 0;
}

.footer {
  padding: 10px 18px;
  background: #fff;
  border-top: 1px solid @border-color;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.splash {
  position: absolute;
  z-index: 2000;
  background: @body-bg;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.splash-title {
  text-align: center;
  max-width: 500px;
  margin: 15% auto;
  padding: 20px;
  * {
    color: @gray;
  }
}
.splash-title h1 {
  font-size: 26px;
}
