/*!
 * angular-loading-bar v0.8.0
 * https://chieffancypants.github.io/angular-loading-bar
 * Copyright (c) 2015 Wes Cruver
 * License: MIT
 */
#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar {
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;

  .bar{
    transition: 350ms linear all;
    width:100%;
    height:2px;
    background:@verde;
    box-shadow: @verde-claro-brillo 1px 0 6px 1px;
    border-radius: 100%;
    margin-bottom: 5px;
  }

  .splash-title {
    background: @body-bg;
    text-align: center;
    max-width: 500px;
    margin: 15% auto;
    padding: 20px;
    * {
      color: @gray;
    }
  }
  .splash-title h1 {
    font-size: 26px;
  }
}
