.metro{
  list-style: none;
  display:block;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  li{
    display: inline-block;
    *{
      color: #fff;
    }
    width: 100%;
    @media (min-width: @screen-sm) {
      width: 50%;
    }
    @media (min-width: @screen-md) {
      width: 32.5%;
    }
    @media(min-width: @screen-lg){
      width: 25%
    }
  }
}

.metro--color(@color, @color-opaco){
  a{
    display:block;
    background:@color;
    border: 1px solid @color;
    transition: all 0.2s ease;
    text-align: center;
    font-size: 1.5em;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.4);
    padding: 0.5em;
    margin: 0.2em;
    @media (min-width: @screen-sm) {
      padding: 0.7em;
      margin: 0.3em;
      font-size: 1.8em;
    }
    @media (min-width: @screen-md) {
      padding: 0.85em;
      margin: 0.4em;
      font-size: 2.15em;
    }
    @media(min-width: @screen-lg){
      padding: 1em;
      margin: 0.5em;
      font-size: 2.5em;
    }
  }

  a:hover{
    text-decoration: none;
    background: @color-opaco;
    border: 1px solid @color-opaco;
  }
}

.metro--morado{
  .metro--color(@morado, @morado-brillo);
}

.metro--morado-oscuro{
  .metro--color(@morado-oscuro, @morado-oscuro-brillo);
}

.metro--indigo{
  .metro--color(@indigo, @indigo-brillo);
}

.metro--azul{
  .metro--color(@azul, @azul-brillo);
}

.metro--celeste{
  .metro--color(@celeste, @celeste-brillo);
}

.metro--cyan{
  .metro--color(@cyan, @cyan-brillo);
}

.metro--turquesa{
  .metro--color(@turquesa, @turquesa-brillo);
}

.metro--verde{
  .metro--color(@verde, @verde-brillo);
}

.metro--verde-claro{
  .metro--color(@verde-claro, @verde-claro-brillo);
}

.metro--lima{
  .metro--color(@lima, @lima-brillo);

}

.metro--amarillo{
  .metro--color(@amarillo, @amarillo-brillo);
  *{
    color: #444 !important;
  }
}

.metro--ambar{
  .metro--color(@ambar, @ambar-brillo);
}

.metro--naranja{
  .metro--color(@naranja, @naranja-brillo);
}

.metro--naranja-oscuro{
  .metro--color(@naranja-oscuro, @naranja-oscuro-brillo);
}

.metro--rojo{
  .metro--color(@rojo, @rojo-brillo);
}

.metro--rosado{
  .metro--color(@rosado, @rosado-brillo);
}

.metro--gris-claro{
  .metro--color(@gray-light, @gray);
}

.metro--gris{
  .metro--color(@gray, @gray-dark);
}

.metro--gris-oscuro{
  .metro--color(@gray-dark, @gray-darker);
}
