<!--[if lte IE 9]> <script src="//cdnjs.cloudflare.com/ajax/libs/Base64/0.3.0/base64.min.js"></script> <![endif]-->
<section class="login">
  <div class="colorgraph"></div>
  <h1 class="titulo">Proyecto Base</h1>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="text-center">Ingreso al sistema</h1>
    </div>
    <div class="panel-body">
      <img alt="Ciris Informatic Solutions" class="img-responsive center-block" src="/recursos/imagenes/Ciris-color.png">
      <br>
      <form ng-submit="vm.ingresar(login_form, vm.usuario)" class="form-horizontal" name="login_form" novalidate="novalidate" autocomplete="off">
        <div class="form-group" ng-class="{ 'has-error': (login_form.$submitted || login_form.usuario.$touched) && login_form.usuario.$invalid }">
          <label for="usuario" class="control-label col-sm-3">Usuario:</label>
          <div class="col-sm-9">
            <div class="input-group">
              <input name="usuario" id="usuario" type="text" placeholder="usuario@ciriscr.com" class="form-control"
               ng-required="true" ng-model="vm.usuario.login">
              <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>

            </div>
             <div class="help-block" ng-messages="login_form.usuario.$error" ng-if="login_form.$submitted || login_form.usuario.$touched">
               <div ng-messages-include="base/vistas/mensajes.html"></div>
             </div>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': (login_form.$submitted || login_form.clave.$touched) && login_form.clave.$invalid }">
          <label for="clave" class="control-label col-sm-3">Contraseña:</label>
          <div class="col-sm-9">
            <div class="input-group">
              <input name="clave" id="clave" type="password" placeholder="********" class="form-control"
               ng-required="true" ng-model="vm.usuario.password">
              <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
            </div>
             <div class="help-block" ng-messages="login_form.clave.$error" ng-if="login_form.$submitted || login_form.clave.$touched">
               <div ng-messages-include="base/vistas/mensajes.html"></div>
             </div>
          </div>
        </div>
        <div class="form-group">
          <label for="recordarme" class="control-label col-sm-3">Recordarme:</label>
          <div class="col-sm-9">
            <cis-switch id="recordarme" name="recordarme" ng-model="vm.usuario.recordar" tipo="success"></cis-switch>
          </div>
        </div>
        <button class="btn btn-lg btn-block btn-odoo" type="Submit">
          <i class="fa fa-fw fa-sign-in"></i>
          Ingresar con Odoo
        </button>
      </form>
      <br>
    </div>
  </div>
</section>
