<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1>
        <span ng-if="!vm.usuario._id">Nuevo</span>
        <span ng-if="vm.usuario._id && vm.usuario.editando">Editar</span>
        Usuario
        <small ng-bind="' - ' + vm.usuario._id" ng-if="vm.usuario._id"></small>
      </h1>
    </div>
    <div class="panel-body">
      <ul class="list-inline text-center opciones-panel opciones-panel--top">
        <li ng-if="!vm.usuario._id || !vm.usuario.editando">
          <a class="btn btn-default btn-sm" ui-sref="^.usuario-lista">
            <i class="fa fa-fw fa-reply"></i>
            <span class="hidden-xs">Volver</span>
          </a>
        </li>
        <li ng-if="vm.usuario._id && !vm.usuario.editando" ocultar-accion permiso="usuario" accion="editar">
          <button class="btn btn-info" ng-click="vm.editar(true)">
            <i class="fa fa-fw fa-edit"></i>
            <span class="hidden-xs">Editar</span>
          </button>
        </li>
      </ul>
      <div ng-form="formUsuario">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" ng-class="{ 'has-error': formUsuario.nombre.$invalid && (formUsuario.nombre.$dirty || formUsuario.$submitted) }">
              <label class="control-label" for="nombre">Nombre:</label>
              <input class="form-control" name="nombre" ng-disabled="vm.usuario._id && !vm.usuario.editando" ng-model="vm.usuario.nombre" ng-required="true" type="text">
              <div class="help-block" ng-messages="formUsuario.nombre.$error" ng-show="(formUsuario.nombre.$dirty || formUsuario.$submitted) && formUsuario.nombre.$invalid">
                <div ng-messages-include="base/vistas/mensajes.html"></div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="correo">Correo:</label>
              <p class="form-control-static" name="correo" ng-bind="vm.usuario.correo">
            </div>
          </div>
        </div>
        <div ng-hide="vm.usuario.rol === 'Administrador' && vm.usuario._id === vm.idUsuarioLogueado">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="rol" class="control-label">Rol:</label>
                <select class="form-control" ng-change="vm.aplicarPermisos(vm.usuario.rol)" ng-model="vm.usuario.rol" ng-disabled="vm.usuario._id && !vm.usuario.editando" ng-options="rol.nombre as rol.nombre for rol in vm.listaRoles"></select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="estado" class="control-label">Estado:</label>
                <p class="form-control-static" ng-if="vm.usuario._id && !vm.usuario.editando">{{vm.usuario.estado === true ? 'Activo' : 'Inactivo'}}</p>
                <cis-switch tipo="success" id="estado" ng-model="vm.usuario.estado" ng-if="vm.usuario.editando"></cis-switch>
              </div>
            </div>
          </div>
          <div class="form-group">
            <h5 class="text-uppercase text-center">Permisos</h5>
            <ng-include src="'administracion/vistas/permisosUsuario.html'"></ng-include>
          </div>
        </div>
        <div class="text-center" ng-if="vm.usuario.rol === 'Administrador' && vm.usuario._id === vm.idUsuarioLogueado">
          <strong class="text-primary">
            <i class="fa fa-fw fa-info-circle"></i>
            Tiene todos los permisos habilitados.
          </strong>
        </div>
        <ul class="list-inline text-center opciones-panel opciones-panel--bottom">
          <li ng-if="vm.usuario.editando">
            <button class="btn btn-default btn-sm" ng-click="vm.editar(false)" type="button">
              <i class="fa fa-fw fa-ban"></i>
              <span class="hidden-xs">Cancelar</span>
            </button>
          </li>
          <li ng-if="vm.usuario.editando || !vm.usuario._id">
            <button class="btn btn-success" type="submit" ng-click="formUsuario.$submitted = true; vm.guardar(formUsuario.$valid)">
              <i class="fa fa-fw fa-download"></i>
              <span class="hidden-xs">Guardar</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
