<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1>
        <span ng-if="!vm.rol._id">Nuevo</span>
        <span ng-if="vm.rol._id && vm.rol.editando">Editar</span>
        Rol
        <small ng-bind="' - ' + vm.rol._id" ng-if="vm.rol._id"></small>
      </h1>
    </div>
    <div class="panel-body">
      <ul class="list-inline text-center opciones-panel opciones-panel--top">
        <li ng-if="!vm.rol._id || !vm.rol.editando">
          <a class="btn btn-default btn-sm" ui-sref="^.rol-lista">
            <i class="fa fa-fw fa-reply"></i>
            <span class="hidden-xs">Volver</span>
          </a>
        </li>
        <li ng-if="vm.rol._id && !vm.rol.editando" ocultar-accion permiso="rol" accion="editar">
          <button class="btn btn-info" ng-click="vm.editar(true)">
            <i class="fa fa-fw fa-edit"></i>
            <span class="hidden-xs">Editar</span>
          </button>
        </li>
      </ul>
      <div ng-form="rolForm">
        <div class="form-group" ng-class="{ 'has-error': rolForm.nombre.$invalid && (rolForm.nombre.$dirty || rolForm.$submitted) }">
          <label class="control-label" for="nombre">Nombre:</label>
          <input class="form-control" name="nombre" ng-disabled="vm.rol._id && !vm.rol.editando" ng-model="vm.rol.nombre" ng-required="true" type="text">
          <div class="help-block" ng-messages="rolForm.nombre.$error" ng-show="(rolForm.nombre.$dirty || rolForm.$submitted) && rolForm.nombre.$invalid">
            <div ng-messages-include="base/vistas/mensajes.html"></div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="descripcion">Descripción:</label>
          <input class="form-control" name="descripcion" ng-disabled="vm.rol._id && !vm.rol.editando" ng-model="vm.rol.descripcion" type="text">
        </div>
        <div class="form-group">
          <h5 class="text-uppercase text-center">Permisos</h5>
          <ng-include src="'administracion/vistas/permisosRol.html'"></ng-include>
        </div>
        <ul class="list-inline text-center opciones-panel opciones-panel--bottom">
          <li ng-if="vm.rol.editando">
            <button class="btn btn-default btn-sm" ng-click="vm.editar(false)" type="button">
              <i class="fa fa-fw fa-ban"></i>
              <span class="hidden-xs">Cancelar</span>
            </button>
          </li>
          <li ng-if="vm.rol.editando || !vm.rol._id">
            <button class="btn btn-success" ng-click="rolForm.$submitted = true; vm.guardar(rolForm.$valid)">
              <i class="fa fa-fw fa-download"></i>
              <span class="hidden-xs">Guardar</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
