<section class="administracion">
  <ui-breadcrumbs displayname-property="data.titulo" template-url="base/vistas/breadcrumbs.html"></ui-breadcrumbs>
  <div ui-view>
    <div class="row">
      <div class="col-md-4" ocultar-accion permiso="usuario" accion="listar">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1 class="text-center">Usuarios</h1>
            <h2 class="text-center"><i class="fa fa-fw fa-user"></i></h2>
            <button class="btn btn-success btn-lg text-center center-block" ui-sref=".usuario-lista">Ver</button>
          </div>
        </div>
      </div>
      <div class="col-md-4" ocultar-accion permiso="rol" accion="listar">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1 class="text-center">Roles</h1>
            <h2 class="text-center"><i class="fa fa-fw fa-key"></i></h2>
            <button class="btn btn-success btn-lg text-center center-block" ui-sref=".rol-lista">Ver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
