<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1>Listado</h1>
    </div>
    <div class="panel-body">
      <ul class="list-inline text-center opciones-panel opciones-panel--top" ocultar-accion permiso="rol" accion="crear">
        <li><a ui-sref="^.rol-uno" class="btn btn-success"><i class="fa fa-fw fa-file"></i> Nuevo Rol</a></li>
      </ul>
      <p class="lead text-muted text-center" ng-if="vm.listado.contador === 0">
        <i class="fa fa-fw fa-list"></i>
        <span>No hay Roles registrados.</span>
      </p>
      <div class="table-responsive" ng-if="vm.listado.contador > 0">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Nombre</th>
              <th class="text-center">Descripción</th>
              <th class="text-center">&nbsp;</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr ng-repeat="rol in vm.listado.docs track by $index">
              <td ng-bind="$index + 1" ui-sref="{{rol.nombre !== 'Administrador' ? '^.rol-uno({id: rol._id})' : '^.rol-lista'}}"></td>
              <td ng-bind="rol.nombre" ui-sref="{{rol.nombre !== 'Administrador' ? '^.rol-uno({id: rol._id})' : '^.rol-lista'}}"></td>
              <td ng-bind="rol.descripcion" ui-sref="{{rol.nombre !== 'Administrador' ? '^.rol-uno({id: rol._id})' : '^.rol-lista'}}"></td>
              <td>
                <ul class="opciones-tabla" ng-if="rol.nombre !== 'Administrador'">
                  <li tooltip="Editar" ui-sref="^.rol-uno({id: rol._id, editar: true})"><i class="text-info fa fa-fw fa-edit" ocultar-accion permiso="rol" accion="editar"></i></li>
                  <li tooltip="Eliminar" ng-click="vm.eliminar(rol)"><i class="text-danger fa fa-fw fa-trash" ocultar-accion permiso="rol" accion="eliminar"></i></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination ng-model="vm.pagina" total-items="vm.listado.contador" ng-change="vm.actualizarPagina(vm.pagina - 1)" items-per-page="vm.cantidad"></pagination>
      </div>
    </div>
  </div>
</div>
