<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1>Listado</h1>
    </div>
    <div class="panel-body">
      <p class="lead text-muted text-center" ng-if="vm.listado.length === 0">
        <i class="fa fa-fw fa-list"></i>
        <span>No hay Usuario registrados.</span>
      </p>
      <div class="table-responsive" ng-if="vm.listado.length > 0">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Nombre</th>
              <th class="text-center">Correo</th>
              <th class="text-left"ocultar-accion permiso="usuario" accion="editar">Estado</th>
              <th class="text-center">&nbsp;</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr ng-repeat="usuario in vm.listado track by $index">
              <td ng-bind="$index + 1" ui-sref="^.usuario-uno({id: usuario._id, editar: false})"></td>
              <td ng-bind="usuario.nombre" ui-sref="^.usuario-uno({id: usuario._id, editar: false})"></td>
              <td ng-bind="usuario.correo" ui-sref="^.usuario-uno({id: usuario._id, editar: false})"></td>
              <td ocultar-accion permiso="usuario" accion="editar">
                <cis-switch style="font-size: 9px" ng-model="usuario.estado" tipo="success" ng-click="vm.cambiarEstado(usuario, {{usuario.estado ? false : true}})" ng-disabled="vm.idUsuarioLogueado === usuario._id && usuario.rol === 'Administrador'"></cis-switch>
              </td>
              <td>
                <ul class="opciones-tabla" ocultar-accion permiso="usuario" accion="editar">
                  <li tooltip="Editar" ui-sref="^.usuario-uno({id: usuario._id, editar: true})"><i class="text-info fa fa-fw fa-edit"></i></li>
                  <li tooltip="{{usuario.rol}}" ng-class="usuario.rol === 'Administrador' ? 'text-danger' : ''"><i class="fa fa-fw fa-user"></i></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination ng-model="vm.pagina" total-items="vm.listado.length" ng-change="vm.actualizarPagina(vm.pagina - 1)" items-per-page="vm.cantidad"></pagination>
      </div>
    </div>
  </div>
</div>
