<div class="table-responsive">
  <table class="table table-bordered table-striped text-center">
    <thead>
      <tr>
        <th>Administración</th>
        <th class="text-center">Listar</th>
        <th class="text-center">Crear</th>
        <th class="text-center">Ver</th>
        <th class="text-center">Editar</th>
        <th class="text-center">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-left">Roles</td>
        <td>
          <input type="checkbox" ng-model="vm.usuario.permisos.rol.listar" ng-disabled="vm.usuario._id && !vm.usuario.editando">
        </td>
        <td>
          <input type="checkbox" ng-model="vm.usuario.permisos.rol.crear" ng-disabled="vm.usuario._id && !vm.usuario.editando">
        </td>
        <td>
          <input type="checkbox" ng-model="vm.usuario.permisos.rol.ver" ng-disabled="vm.usuario._id && !vm.usuario.editando">
        </td>
        <td>
          <input type="checkbox" ng-model="vm.usuario.permisos.rol.editar" ng-disabled="vm.usuario._id && !vm.usuario.editando">
        </td>
        <td>
          <input type="checkbox" ng-model="vm.usuario.permisos.rol.eliminar" ng-disabled="vm.usuario._id && !vm.usuario.editando">
        </td>
      </tr>
      <tr>
        <td class="text-left">Usuarios</td>
        <td>
          <input type="checkbox" ng-model="vm.usuario.permisos.usuario.listar" ng-disabled="vm.usuario._id && !vm.usuario.editando">
        </td>
        <td>
          <input type="checkbox" ng-model="vm.usuario.permisos.usuario.crear" ng-disabled="vm.usuario._id && !vm.usuario.editando">
        </td>
        <td>
          <input type="checkbox" ng-model="vm.usuario.permisos.usuario.ver" ng-disabled="vm.usuario._id && !vm.usuario.editando">
        </td>
        <td>
          <input type="checkbox" ng-model="vm.usuario.permisos.usuario.editar" ng-disabled="vm.usuario._id && !vm.usuario.editando">
        </td>
        <td>
          <input type="checkbox" ng-model="vm.usuario.permisos.usuario.eliminar" ng-disabled="vm.usuario._id && !vm.usuario.editando">
        </td>
      </tr>
    </tbody>
  </table>
</div>
