<!DOCTYPE html>
<html lang="es">

<head>
  <base href="/">
  <title cis-titulo>Ciris - ProyectoBase</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  <meta http-equiv="Content-Language" content="es">
  <meta name="Subject" content="">
  <meta name="description" content="">
  <meta name="abstract" content="">
  <meta name="classification" content="">
  <meta name="keywords" content="">
  <meta name="country" content="Costa Rica">
  <link rel="shortcut icon" href="recursos/imagenes/favicon.png" type="image/png">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet" media="all">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="estilos.css" media="all">
  <meta name="Robots" content="index,follow">
  <meta name="author" content="Ciris Informatic Solutions">
  <meta name="revised" content="Ciris Informatic Solutions, 18/11/2015" />
  <script type="text/javascript" src="http://www.ciriscr.com:1337/vorlon.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="vendor.min.js"></script>
  <script type="text/javascript" src="recursos/js/angular-locale_es-cr.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/es.js"></script>
  <script type="text/javascript" src="urlApi.js"></script>
  <script type="text/javascript" src="logica.js"></script>
  <script type="text/javascript" src="plantillas.js"></script>
</head>

<body>
  <main ui-view id="main">
    <!-- Simple splash screen-->
    <div class="splash">
      <div class="colorgraph-brillo"></div>
      <div class="splash-title">
        <span>{{hoy | Fecha:"LL"}}</span>
        <!--[if lt IE 7]>
          <p class="alert alert-danger animated rubberBand"><i class="fa fa-fw fa-hourglass-2 text-danger"></i> Usted está usando un explorador <strong>bastante antiguo</strong>. Por favor, actualice su navegador.</p>
        <![endif]-->
        <h1>Proyecto Base</h1>
        <p>Estamos preparando la aplicación, por favor espere.</p>
        <img src="recursos/imagenes/loading-bars.svg" width="64" height="64" class="animated fadeIn" />
      </div>
    </div>
  </main>
</body>

</html>
