<p ng-message="required">Este campo es requerido</p>
<p ng-message="minlength">This field is too short</p>
<p ng-message="maxlength">This field is too long</p>
<p ng-message="email">El campo debe ser un correo válido</p>
