<div id="header" ng-include="'base/vistas/header.html'"></div>
<aside id="menu" ng-include="'base/vistas/navegacion.html'"></aside>
<div id="wrapper">
  <div class="oscurecer hidden" id="oscurecer"></div>
  <div class="container-fluid" ui-view></div>
  <div ng-include="'base/vistas/plantillas-ui-bootstrap.html'"></div>
</div>
